.header-curso{
  background-image: url('../img/header-back.svg');
  background-repeat: repeat;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-curso img{
  width: 10%;
  padding-left: 60px;
}

.menu-curso {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.menu-curso a:hover {
  font-size: 28px;
  font-weight: 600;
   gap: 12px;
   color: #7B001E;
}

.menu-curso a {
  font-size: 1.2rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #e0e0ee;
   font-family: "Spectral";
    line-height: 1.125;
}

.cursos{
  background: #040F0E;
}

.ui-uxdesign{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-top: auto;
}
.botao-vejamais {
grid-column: 1/-1;
display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;
margin-bottom: 80px;
}

.cursos-intensivos{
  margin-top: 80px;
}

.curso-detalhe1{
  margin-bottom: 40px;
}
.curso-detalhe2{
  margin-top: 40px;
}
.curso-detalhe3{
  margin-top: 60px;
}

@media screen and (max-width: 768px){
  .formacao-cursos h2 {
    margin-top: 0px;
  }
  .curso-2{
    margin-bottom: -60px;
  }

  .header-curso {
    background-image: url('../img/header-back-mobile.svg');
    background-position: center;
    padding: 30px 30px;
    margin-bottom: -20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
  }
  .header-curso img{
    width: 25%;
    position: absolute;
    left: -40px;
    top: 10px;
  }
  .menu-curso a {
    font-size: 1rem;
    line-height: 1.3;
    padding: 5px;
      line-height: 1;
  }
}