.footer {
  background-image: url('../img/header-back.svg');
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer img{
  width: 10%;
  padding-left: 60px;
}

.footer h2{
  font-size:  32px;
  font-weight: 400;
  position: relative;
  color: #ccc;
  text-align: center;
  padding: 10px;
}

.botoes2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: -18px;
  
}
.botoes2 img{
  width: 40%;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 30px 20px;
    margin-top: -2px;
    margin-bottom: auto;
  }

  .footer img{
    justify-content: center;
    align-items: center;
    width: 30%;
    padding-left: 0;
     
  }

  .footer h2{
    display: none;
  }

  .botoes2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    
    
  }
  .botoes2 img{
    width: 50%;
    

  }
}
