.header {
  background-image: url('../img/header-back.svg');
  background-repeat: repeat;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img{
  width: 10%;
  padding-left: 60px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.menu a:hover {
  font-size: 28px;
  font-weight: 600;
   gap: 12px;
   color: #7B001E;
}

.menu a {
  font-size: 1.2rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #e0e0ee;
}


.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}


@media screen and (max-width: 400px) {
  .header {
    background-image: url('../img/header-mobile-d.svg');
    padding: 10px 10px;
    margin-bottom: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .header {
    background-image: url('../img/header-back-mobile.svg');
    background-position: center;
    padding: 30px 30px;
    margin-bottom: -20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
  }
  
  .header img{
    width: 25%;
    position: absolute;
    left: -40px;
    top: 10px;
  }
  .menu {
     display: none;
   }
   
   .menu:before {
     display: none;
   }
   .mobile-menu-icon {
     display: flex;
     padding: 10px;
     z-index: 999;
     
 }
 .mobile-menu-icon button {
     background-color: transparent;
     border: none;
     cursor: pointer;
     z-index: 999;
     margin-right: -40px;
     margin-top: -30px;
     
 }
 .mobile-menu-icon img {
  display: block;
  position: relative;
  width: 50%;
  
}
 .mobile-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1rem;
  background-image: url('../img/aaaa.svg');

 }
 .mobile-menu .nav-item {
   display: block;
   padding-top: 1.2rem;
 }
 .open {
   display: block;
 }
 .nav-item  li + li  {
   margin-top: 12px;
 }
 
 .nav-item li a{
  color: #e0e0ee;
   margin: 0 1rem;
   border-bottom: 2px solid rgba(0, 0, 0, 0.1);
 }
 
 .nav-item li:hover{
   font-size: 22px;
   gap: 12px;
   color: #7B001E;
 }
}
