.perfil-bg {
  background: #0A1817;
}

.perfil {
    padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
 max-width: 1200px;
 padding-left: 20px;
 padding-right: 20px;
 margin-left: auto;
 margin-right: auto;
  }

  .perfil img{
    margin-top: 120px;
  }
  .perfil h1 {
    font-size:  48px;
    font-weight: 400;
    padding-top: 80px;
    position: relative;
    color: #B8B8B8;
    margin-top: 200px;
    text-align: center;
  }

  .perfil h1 b {
   color: #7B001E;
  }

  .perfil h2 {
    font-size:  48px;
    font-weight: 400;
    position: relative;
    color: #B8B8B8;
    text-align: center;
  }
  

  .botoes1{
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 60px;
    margin-left: -60px;
    box-shadow: 0 30px #0A1817;
  }

  .botoes-mobile{
    display: none;
  }

  .hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0A1817;
    margin-top: 0px;
  }
  
  @media (max-width: 900px) {
    .perfil h1 {
      font-size: 32px;
    }
    .perfil h2 {
      font-size: 32px;
      margin-top: 6px;
    }
    .perfil  {
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }
    .perfil h1::before {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      left: 0;
      top: 5px;
      background: linear-gradient(#7b001e, #bf2d50)
    }
  }

  @media screen and (max-width: 768px) {
    .perfil {
    grid-template-columns: 1fr;
   max-width: 360px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    }

    .perfil img{
      margin-top: -20px;
      width: 60%;
      display: flex;
    }

    .perfil h1 {
      font-size:  26px;
      padding-top: 10px; 
      margin-top: -20px;
      margin-bottom: -10px;
      text-align: center;
    }
    .perfil h2 {
      font-size:  26px;
      margin-top: 12px;
     }

    .botoes1{
      display: none;
    }

    .botoes-mobile{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left: 60px;
      padding-right: 40px;
      margin-top: -40px;
    }

    .botoes-mobile a + a + a{
      margin-top:10px;
    }
    .hello{
      box-shadow: 0 -30px #0A1817;
      margin-top: 20px;
      margin-bottom: -2px;
    }
  }