.skills-bg{
  background: #020F0E;
    padding: 120px;
}

.skills-bg h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7B001E;
   font-size: 64px;   
}

.skills{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .skills-bg{
    background: #030C0B;
      padding: 40px;
      margin-top: -2px;
      margin-bottom: -2px;
  }
  
  .skills-bg h1{
     font-size: 28px;
  }
  
  .skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: auto;
  }

  .skills img{
    width: 80%;
  }
  
  }
